---
import ContentSection from "./content-section.astro";
---

<ContentSection title="Árajánlat" id="arajanlat">
  <Fragment slot="lead">
    <a href="mailto:multiep@gmail.com" class="underline">
      Kérjen árajánlatot e-mailben.
    </a>
    <div class="!mt-0 font-normal text-sm">multiepkft@gmail.com</div>
  </Fragment>
</ContentSection>
